
@model IEnumerable<FinalYearProject.Models.ViewModels.ProfessionalCategoryVM>


@{
    ViewBag.Title = "Home Page";
}



@if (Session["UserName"] != null)
{
   <h1> Welcome @Session["UserName"].ToString() </h1>
    } 

    <div class="jumbotron"
         id="dvImage">
        <div>


            <h2>We Are Professional & Thoughful Peoples</h2>
            <p class="lead">E_Kamao website was established in response to the growing need for quality housing and commercial space in the city. Since then, we have grown to be one of the leading real estate developers serving the needs of a discerning clientele..</p>

            <p>
                <a href="/Customer/CustomerLogin" rel="nofollow" id="hero-hire-link" class="btn btn-xlarge btn-primary HomeHero-btn" data-uitest-target="hire-link" data-action="hire-section" data-qtsb-section="HomepageSplash" data-qtsb-label="RedirectToPPP">

                    <span class="HomeHero-btnText--sub">I want to Hire</span>
                </a>
                <a href="/Professional/ProfessionalLogin" rel="nofollow" id="hero-hire-link" class="btn btn-xlarge btn-primary HomeHero-btn" data-uitest-target="hire-link" data-action="hire-section" data-qtsb-section="HomepageSplash" data-qtsb-label="RedirectToPPP">

                    <span class="HomeHero-btnText--sub">I want to Work</span>
                </a>

            </p>

        </div>
    </div>


    <div class="big-title color-bg" style="background-color: #FF8C00">
        <div class="container">
            <h1 class="entry-title" itemprop="headline" style="color: #111111;">Our Services</h1>

        </div>
    </div>





    @foreach (var item in Model)
    {



        <div class="col-md-4">
            <img src="@item.Prof_Cat_img" width="150" height="150" alt="Image" />
            <h2>@Html.DisplayFor(modelItem => item.Prof_Cat_Name)</h2>
            <p>
                @Html.DisplayFor(modelItem => item.Prof_Cat_Remarks)
            </p>
            <p><a class="btn btn-default" href="http://localhost:52430/Home/ProCatDetail/@item.Prof_Cat_Id">show more &raquo;</a></p>
        </div>

    }

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            var images = ["post01.jpg", "post02.jpg", "post03.jpg", "post04.jpg", "post01.jpg", "post02.jpg", "post03.jpg", "post04.jpg"];
            $(function () {
                var i = 0;
                $("#dvImage").css("background-image", "url(../../Content/Images/" + images[i] + ")");
                setInterval(function () {
                    i++;
                    if (i == images.length) {
                        i = 0;
                    }
                    $("#dvImage").fadeToggle("slow", function () {
                        $(this).css("background-image", "url(../../Content/Images/" + images[i] + ")");
                        $(this).fadeIn("slow");
                    });
                }, 5000);
            });


        </script>



    }

